<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy Shop</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5 mb-5 d-flex justify-content-center">

        <div class="card border-warning rounded-5 p-4 m-5 border-4 px-4 py-4 " >
            <div class="card-body">
                <h2 class="card-title"style="text-align:center">Candy Quantity Tracker</h2>
                <p class="card-subtitle" style="text-align:center ">Enter your candy inventory </p>
                <hr size="10px"><br><br>
                    <div class="card-text border-3">
                        <form id = "my-form" action = "#" onsubmit="getval(event)">

                            <label for="cname" class="form-label">Candy Name :</label><br>
                            <input type="text" id="cname" name="cname" class="form-control" required><br><br>

                            <label for="descr" class="form-label"> Enter Description : </label><br>
                            <input type="text" id="descr" name="descr" class="form-control" required><br><br>
                    
                            <label for="cprice" class="form-label">Price per unit :</label><br>
                            <input type="number" id="cprice" name="cprice" class="form-control" required><br><br>

                            <label for="qty" class="form-label"> Quantity : </label><br>
                            <input type="number" id="qty" name="qty" class="form-control" required><br><br>

                            <br>
                            <div style="text-align:center;"> 
                                <input type="submit"  class="btn btn-primary shadow " value="Add Item" readonly/> <br><br>
                            </div>
                            
                        </form>
                    </div>
            </div>
        </div>
        <div class="card border-info rounded-5 p-4 m-5 border-3 px-4 py-4 " >
            <div class="card-body">
                <h2 class="card-title"style="text-align:center">Details</h2><br>
                <hr size="10px">              
                    <div class="card-text border-3">
                        <ul id="users"></ul>
                    </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
<style>
        img {
  width: 100%
        }

    
    body {
        background-color: coral;
       /* background-image: url('fin.jpg') ; */ 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
        
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- <script src="tracker.js"></script> -->
<script>
    const ul = document.querySelector('#users');

    function getval(event) {
        event.preventDefault();
        alert("The form has been submitted");
        var cname = event.target.cname.value;
        var description = event.target.descr.value;
        var cprice = event.target.cprice.value;
        var qty = event.target.qty.value;

        let ob = {
            cname,
            description,
            cprice,
            qty
        };

        axios.post('http://localhost:3000/shop/add-candy', ob)
            .then(val => {
                console.log(val);
                UIelement(val.data.newCandyDetail);
            })
            .catch(err => console.log(err));
    }

    window.addEventListener("DOMContentLoaded", (e) => {
        e.preventDefault();
        axios.get('http://localhost:3000/shop/get-candies')
            .then(val => {
                val.data.allCandy.forEach(item => {
                    UIelement(item);
                });
            })
            .catch(e => console.log(e));
    });

    function UIelement(ob) {
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(`${ob.cname} : ${ob.description} : ${ob.cprice}: ${ob.qty}`));
        // li.id=ob.id;
        // console.log(li);
        var b1 = document.createElement('button');
        b1.className = 'btn btn-info btn-sm m-1 float-right';
        b1.appendChild(document.createTextNode('Buy 1'));
        b1.id = 'b1';

        var b2 = document.createElement('button');
        b2.className = 'btn btn-info btn-sm m-1 float-right';
        b2.appendChild(document.createTextNode('Buy 2'));
        b2.id = 'b2';

        var b3 = document.createElement('button');
        b3.className = 'btn btn-info btn-sm m-1 float-right';
        b3.appendChild(document.createTextNode('Buy 3'));
        b3.id = 'b3';

        if (ob.qty >= 1) {
            li.appendChild(b1);
            b1.addEventListener("click", () => {
                if (ob.qty > 1) {
                    if (confirm('Buy 1?')) {
                        axios.put(`http://localhost:3000/shop/update-candy-1/${ob.id}`)
                            .then(location.reload())
                            .catch(e => console.log(e));
                    }
                } else if (confirm('Buy last candy?')) {
                    ul.removeChild(li);
                    axios.delete(`http://localhost:3000/shop/delete-candy/${ob.id}`)
                        .then(val => console.log(val.data))
                        .catch(e => console.log(e));
                }
            });
        }

        if (ob.qty >= 2) {
            li.appendChild(b2);
            b2.addEventListener("click", () => {
                if (ob.qty > 2) {
                    if (confirm('Buy 2?')) {
                        axios.put(`http://localhost:3000/shop/update-candy-2/${ob.id}`)
                            .then(location.reload())
                            .catch(e => console.log(e));
                    }
                } else if (confirm('Buy last 2 candies?')) {
                    ul.removeChild(li);
                    axios.delete(`http://localhost:3000/shop/delete-candy/${ob.id}`)
                        .then(val => console.log(val.data))
                        .catch(e => console.log(e));
                }
            });
        }

        if (ob.qty >= 3) {
            li.appendChild(b3);
            b3.addEventListener("click", () => {
                if (ob.qty > 3) {
                    if (confirm('Buy 3?')) {
                        axios.put(`http://localhost:3000/shop/update-candy-3/${ob.id}`)
                            .then(location.reload())
                            .catch(e => console.log(e));
                    }
                } else if (confirm('Buy last 3 candies?')) {
                    ul.removeChild(li);
                    axios.delete(`http://localhost:3000/shop/delete-candy/${ob.id}`)
                        .then(val => console.log(val.data))
                        .catch(e => console.log(e));
                }
            });
        }

        ul.appendChild(li);
    }
</script>
</body> 
</html>